<div class="card">
	<div class="card-header">
	<ul class="nav nav-pills card-header-pills">
		<li class="nav-item">
			<a id="formsubmit" class="nav-link active" href="#">Aceptar</a>
		</li>
		<li class="nav-item">
			<a id="formcancel" class="nav-link disabled" href="#">Cancelar</a>
		</li>
	</ul>
	</div>
	<!-- img class="card-img-top" src="..." alt="Card image cap" -->
	<div id="form-hook" class="card-block">
	<!-- img class="card-img-top" src="..." alt="Card image cap" -->

	</div>

</div>