<h4>Campaña: <%= cnumber %></h4>
<h5 class="card-title"><%= slug %></h4>
<h6 class="card-subtitle mb-2 text-muted"><%= cnumber %></h6>
<p><strong></strong><%= description %></p>
<hr/>
<div id="client-hook"></div>
<hr/>
