<div class="form">
  <div class="row" style="background: #C4DDC8;">
    <div class="col-xs-12 col-md-3"><div data-fields="role"></div></div>
    <div class="col-xs-12 col-md-4"><div data-fields="name"></div></div>
    <div class="col-xs-12 col-md-4"><div data-fields="slug"></div></div>
	<button id="cancel" type="button" class="btn btn-outline-warning col-xs-12 col-md-1">X
	</button>
  </div>
</div>
